/* body text color #757575; */
/* secondary text color #212121; */
/* main text color heroes #FFFFFF; */
/* accent #2196F3 */
/* white for footer address #FFFFFF; */ 
/* main background color #FFFFFF; */
/* secondary background color #F5F4FA; */
/* footer background color #2F303A; */
/* portfolio-button background color #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-white: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --portfolio-button-background-color: #F5F4FA;
    --card-set-gap: 30px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body,
address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a[href] {
    text-decoration: none; /* remove the underline in links */
}

ul {list-style: none;}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

/* ! =======================MAIN NAVIGATION===================== */

.header {
    display: flex;

}

.header .conteiner{
    display: flex;
    align-items: center;
    
}

.navigation {
    display: flex;
    align-items: center;
}

/* * =================THE LOGO================= */

.header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo,
.logo-text-dark,
.logo-text-light {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/* light background dark text logo */
.logo-text-dark {
    color: var(--title-text-color);
}

/* dark background light text logo */
.logo-text-light {
    color: var(--primary-white-color);
    background-color: var(--background-color-dark);
}
/* * =================END THE LOGO================= */

/* * =================MENU========================= */

.site-nav {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-link {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* todo ------------interactivity-------------- */
.site-nav-link:hover,
.site-nav-link:focus,
.header-contact-email:hover,
.header-contact-email:focus,
.header-contact-tell:hover {
    color: var(--accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
/* todo ------------ end interactivity-------------- */


/* todo -------------current page-------------- */

.site-nav-link.current {
    color: var(--accent-color);
}

/* todo -------------end current page-------------- */


/* todo ============hide title=========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* todo ============end hide title=========== */

.header-contact-email {
    margin-right: 30px;
}

.header-address {
    display: flex;
    margin-left: auto;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
   
}

.header-contact-email {
    color: var(--primary-text-color);
}

.header-contact-tell {
   color: var(--primary-text-color);
}

/* * =================END MENU========================= */

/* * ===================HEROES SECTION STYLES=================== */

.hero {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    padding: 200px 0;
}

.overlay { 
    max-width: 1600px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: 
}

.hero .conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    display: block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    width: 696px;
    height: 120px;  
}

/* * ===================END HEROES SECTION STYLES=================== */

/* * ========================SECTION STYLES==================== */

.section-team {
    background-color: var(--secondary-background-color);
}

.section-features,
.section-work,
.section-team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    align-items: center;
    padding: 94px 0;
}

.section-title-team {
    color: var(--title-text-color);
    text-align: center;
}

/* *=================================SECTION FEATURES========================== */

.section-features .conteiner{
    display: flex;
    align-items: center;
}

.subtitle-item-features:not(:last-child) {
    margin-right: 30px;
}

.subtitle-features {
    display: flex;
}

.title-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-top: 30px;
    margin-bottom: 10px;
}

.text-features {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--primary-text-color);
}

/* *============================SECTION WORK===================== */

.section-work .conteiner{
    display: flex;
    align-items: center; 
    flex-direction: column; 
}

.section-title-work {
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}

.subtitle-work {
    display: flex;
}

.subtitle-item-work:not(:last-child) {
    margin-right: 30px;
}

/* *=========================SECTION TEAM======================= */

.section-team .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.subtitle-team {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.subtitle-item-team {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background-color: var(--background-color-white);
}

.card-team {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content-team {
  padding: 30px;
}


.title-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.186;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.186;
    text-align: center;
    color: var(--primary-text-color);
}

/* * ========================END SECTION STYLES==================== */

/* ! =======================END MAIN NAVIGATION===================== */

/* ! ======================FOOTER============================ */
.footer {
    background-color: var(--background-color-dark);
    display: flex;
    padding: 60px 0;
}

.footer .conteiner {
    display: flex;
    flex-direction: column;
}

.footer .logo {
   margin-bottom: 20px;

}

.footer-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    display: flex;
    flex-direction: column;
}

.footer-contact-address {
    color: rgba(255,255,255,1);
    margin-bottom: 9px;
}

.footer-contact-email {
    margin-bottom: 9px;
}

.footer-contact-email,
.footer-contact-tell {
    color: rgba(255, 255, 255, 0.6);
}

/* ! ======================END FOOTER============================ */


/* ! ========================PORTFOLIO========================= */

.filter .conteiner {
    display: flex;
    flex-direction: column;
}

/* * =============PORTFOLIO MENU================= */

.portfolio-subtitle-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.165;
    text-align: center;
    letter-spacing: 0.03em;

    display: flex;
    margin-top: 94px;
    margin-bottom: 30px;
    justify-content: center;
}

.portfolio-subtitle-item:not(:last-child) {
    margin-right: 30px;
}

.portfolio-subtitle-item {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.portfolio-subtitle-item {
    color: var(--title-text-color);
}

/* * =============PORTFOLIO FILTER================= */


.portfolio-subtitle-filter {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    padding-bottom: 94px;

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-subtitle-filter-item {
    font-family: 'Roboto', sans-serif;
    line-height: 2;

    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.card-filter {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content-filter {
  padding: 20px;
}


.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* * =============END PORTFOLIO FILTER================= */

/* ! ======================END PORTFOLIO========================= */

/* TODO =========================BUTTON============================= */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;


    cursor: pointer;
    text-align: center;
    min-width: 200px;
    height: 50px;
  }

.portfolio-button {
    color: var(--title-text-color);
    background-color: var(--portfolio-button-background-color);
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;

  
    min-width: 73px;
    cursor: pointer;
    padding: 6px 22px;
}

/* TODO =========================END BUTTON============================= */