/* ! CSS variables // Переменные CSS */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-white: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --portfolio-button-background-color: #F5F4FA;
    --card-set-gap: 30px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/*! ---------------------------------------------------- */

/* ! USER normalizer // Пользовательский нормализатор*/
/* Lists // Списки */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none; /* remove bullets in lists // 
    убрать маркеры в списках */
}

/* Paragraphs // Абзацы */
p {
    margin: 0;
}

/* images // картинки */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* links // ссылки */
a {
    color: inherit; 
    text-decoration: none; /* remove the underline in links // 
    убрать подчеркивание в ссылках */
}

/*! ---------------------------------------------------- */

/* ! Constants // Константы */

/* fonts constants // константы шрифтов*/
body,
address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    align-items: center;

    color: var(--primary-text-color);
    background-color: var(--background-color-white);
}

/* Headings // Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
    margin: 0;
}

/* conteiner  // контейнер */
.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ******************************************** */

/* interactivity // интерактивность */
.site-nav__link:hover,
.site-nav__link:focus,
.header-contact__email:hover,
.header-contact__email:focus,
.header-contact__tell:hover,
.header-contact__tell:focus {
    color: var(--accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* current page // текущая страница */
.site-nav__link.current {
    color: var(--accent-color);
}

/* hide title // скрыть заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ******************************************** */
/* button // кнопка*/

button {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    border-color: transparent;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


/* ! HEADER website // ШАПКА сайта*/
/* ******************************************************* */

.header {
    display: flex;
    border: 1px solid #ECECEC;
}

.header .conteiner {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

/* ! LOGO // логотип*/
/** ----------------------------------------- */
.logo,
.logo-text__dark,
.logo-text__light {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

/* light background dark text // светлый фон темный текст */
.logo-text__dark {
    color: var(--title-text-color);
}

/* dark background light text // темный фон светлый текст */
.logo-text__light {
    color: var(--primary-white-color);
    background-color: var(--background-color-dark);
}
/** ----------------------------------------- */

/* ! MENU // меню*/
/** ----------------------------------------- */
.site-nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;  
}
/** ----------------------------------------- */

/* !Header address. Contact // адрес и контакты в шапке веб-сайта */
/** ----------------------------------------- */

.header-address {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143; 
}

.header-contact__link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px; 
    color: var(--primary-text-color);
}

.header-contact__email {
    margin-right: 30px;
}

.header-contact__email::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}
}

.icon-email::before {
    <svg>
        <use href='../img/sprait/symbol-defs.svg#icon-envelope'></use>
    </svg>
}

/* .header-contact__link:first-of-type + .header-contact__link {
    margin-left: 30px;
} */

/* .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__icon--envelope {
    width: 16px;
    height: 12px;
}

.contacts__icon--phone {
    width: 10px;
    height: 16px;
} */

/** ----------------------------------------- */

/* ! SECTION HEROES // секция герои*/
/** ----------------------------------------- */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    padding: 200px 0;

    background-color: var(--background-color-dark);

    background-image: linear-gradient( 
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(31, 32, 46, 0.4)
        ),
    url('../img/fons/hero.jpg');

    background-repeat: no-repeat;
    background-position: center;
}

.hero .conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero-button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    min-width: 200px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/** ----------------------------------------- */

/* ! SECTION Features // секция особенности */

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-features .conteiner{
    display: flex;
    align-items: center;
}

.subtitle-features__item::before {
    content: "";
    display: block;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-background-color);
}

.icon-antenna::before {
    background-image: url('../img/features/antenna.svg'); 
}

.icon-clock::before {
    background-image: url('../img/features/clock.svg');
}

.icon-diagram::before {
    background-image: url('../img/features/diagram.svg');
}

.icon-astronaut::before {
    background-image: url('../img/features/astronaut.svg');
}

.subtitle-features__item:not(:last-child) {
    margin-right: 30px;
}

.subtitle-features {
    display: flex;
}

.title-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-top: 30px;
    margin-bottom: 10px;
}

.text-features {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--primary-text-color);
}

/* *============================SECTION WORK===================== */
.section-work {
    padding-bottom: 94px;
}

.section-work .conteiner {
    display: flex;
    align-items: center; 
    flex-direction: column; 
}

.section-title-work {
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}

.subtitle-work {
    display: flex;
}

.subtitle-item-work:not(:last-child) {
    margin-right: 30px;
}

/* *=========================SECTION TEAM======================= */

.section-team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-title__team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
    text-align: center;
}

.subtitle-team {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.subtitle-item-team {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background-color: var(--background-color-white);
}

.card-team {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content-team {
  padding: 30px;
}


.title-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.186;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.186;
    text-align: center;
    color: var(--primary-text-color);
}

/* * ========================END SECTION STYLES==================== */

/* ! =======================END MAIN NAVIGATION===================== */

/* ! ======================FOOTER============================ */
.footer {
    background-color: var(--background-color-dark);
    display: flex;
    padding: 60px 0;
}

.footer .conteiner {
   display: flex; 
}

.footer .logo {
   margin-bottom: 20px;
}

.subtitle-footer {
    display: flex;
    align-items: baseline;
}

.footer-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    display: flex;
    flex-direction: column;
}

.footer-contact-address {
    color: rgba(255,255,255,1);
    margin-bottom: 9px;
}

.footer-contact-email {
    margin-bottom: 9px;
}

.footer-contact-email,
.footer-contact-tell {
    color: rgba(255, 255, 255, 0.6);
}

.subtitle-item-footer {
    display: flex;
    flex-direction: column;
}

.subscription {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-left: 70px;

}

/* ! ======================END FOOTER============================ */


/* ! ========================PORTFOLIO========================= */

.filter .conteiner {
    display: flex;
    flex-direction: column;
}

/* * =============PORTFOLIO MENU================= */

.portfolio-subtitle-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.165;
    text-align: center;
    letter-spacing: 0.03em;

    display: flex;
    margin-top: 94px;
    margin-bottom: 30px;
    justify-content: center;
}

.portfolio-subtitle-item:not(:last-child) {
    margin-right: 30px;
}

.portfolio-subtitle-item {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.portfolio-subtitle-item {
    color: var(--title-text-color);
}

/* * =============PORTFOLIO FILTER================= */


.portfolio-subtitle-filter {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    padding-bottom: 94px;

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-subtitle-filter-item {
    font-family: 'Roboto', sans-serif;
    line-height: 2;

    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.card-filter {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content-filter {
  padding: 20px;
}


.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* * =============END PORTFOLIO FILTER================= */

/* ! ======================END PORTFOLIO========================= */

/* TODO =========================BUTTON============================= */

.portfolio-button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    min-width: 73px;

    color: var(--title-text-color);
    background-color: var(--portfolio-button-background-color);
}

/* TODO =========================END BUTTON============================= */